<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/agenda"></ion-back-button>
    </ion-buttons>
    <ion-title>agenda-details</ion-title>

    <ion-buttons slot="end">
      <ion-button [color]="calendarButtonColor" (click)="showCalendar()">
        <ion-icon
          [color]="calendarButtonColor"
          slot="icon-only"
          name="calendar"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calendar" id="date-container">
    <date-picker
      class="date-picker"
      id="date-picker"
      (onSelect)="onDateChange($event)"
    ></date-picker>
  </div>
  <div id="citas-content" class="agenda-content">
    <p class="ion-text-center list-title">
      {{getOccupationPercent()}}% Ocupación
    </p>
    <ion-row>
      <ion-col size="3">
        <div class="full-height">
          <ion-list>
            <ion-item
              class="hour"
              *ngFor="let hour of this.display"
              lines="none"
              [style.--hour-height.px]="height"
            >
                <p>{{hour.interval | date:"H:mm"}}</p>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
      <ion-col>
        <ion-list>
          <app-agenda-appointment
            *ngFor="let cita of this.display; index as i"
            [appointment]="cita.appointment"
          >
            <div class="segment"></div>

          </app-agenda-appointment>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
