<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/agenda"></ion-back-button>
    </ion-buttons>
    <ion-title>{{(agenda$ | async)?.name}}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon
          [color]="calendarButtonColor"
          slot="icon-only"
          name="settings"
        ></ion-icon>
      </ion-button>
      <ion-button [color]="calendarButtonColor" (click)="showCalendar()">
        <ion-icon
          [color]="calendarButtonColor"
          slot="icon-only"
          name="calendar"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calendar" id="date-container">
    <date-picker
      class="date-picker"
      id="date-picker"
      (onSelect)="onDateChange($event)"
    ></date-picker>
  </div>
  <div id="citas-content" class="agenda-content">
    <ion-row class="ion-margin-bottom">
      <ion-col size="8">
        <p
          *ngIf="!addingAppointment"
          class="ion-text-start ion-margin-start list-title"
        >
          {{getOccupationPercent()}}% Ocupación
        </p>

        <ion-item *ngIf="addingAppointment" lines="none">
          <ion-label>Producto</ion-label>
          <ion-select (ionChange)="selectProduct($event)" placeholder="Seleccionar">
            <ion-select-option value="Primera Visita">Primera Visita</ion-select-option>
            <ion-select-option value="Revisión">Revisión</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="4" class="ion-align-self-center ion-justify-content-center">
        <ion-button
          (click)="startAddAppointmentWizard()"
          color="primary"
        > Añadir cita</ion-button>
      </ion-col>
    </ion-row>

    <div
      class="appointments-wrapper"
      *ngFor="let cita of this.display; index as i"
    >
      <ion-row>
        <ion-col size="3" class="ion-no-padding">
          <div
            [style.height.px]="totalHeight/ this.display.length"
            class="appointment-hour ion-text-center"
          >
            {{cita.interval | date:"H:mm"}}
          </div>
        </ion-col>
        <ion-col class="ion-no-padding appointmens-col-wrapper">
          <div class="segment"></div>

          <div
            class="appointments-content"
            [style.height.px]="totalHeight/ this.display.length"
          >
            <ion-button
                    class="choose-button"
                    *ngIf="selectedProduct"
                    (click)="selectTime($event)"
                    size="small"
                    color="primary"
                    expand="block"
                    [style.width.px]="100"
            >Elegir</ion-button
            >
          </div>

          <app-agenda-appointment
            *ngIf="cita.appointment"
            [appointment]="cita.appointment"
            [dayLengthMinutes]="appointmentsService.getJourneyDurationInMinutes()"
            [containerHeight]="totalHeight"
            [top]="cita.pxFromLast"
          >
          </app-agenda-appointment>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
