ion-slides {
  height: 100%;
}

.slide{
  height: 100%;
  width: 100%;
}

.bg-modal {
  --background: #f4f5f8;
}

.slide-button {
  margin-right: 15%;
  margin-left: 15%;
  width: 100%;
}

.vertical-align-content
{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}
