<ion-grid>
  <ion-row
    class="ion-align-items-center ion-justify-content-evenly ion-text-center"
  >
    <ion-col size="12">
      <h1 class="login-title">Introduzca el código del móvil</h1>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-evenly">
    <ion-col
      size-xs="12"
      size-sm="8"
      size-lg="6"
      class="ion-padding ion-align-self-center"
    >
      <form [formGroup]="businessCodeForm" class="ion-padding">
        <ion-item>
          <ion-label position="floating">Código</ion-label>
          <ion-input
            #businessValidationCode
            enterkeyhint="enter"
            [color]="isInputInvalid(code) ? 'danger' : 'undefined'"
            required
            type="text"
            formControlName="code"
          >
          </ion-input>
        </ion-item>
      </form>
    </ion-col>
  </ion-row>

  <ion-row style="height: 300px">
    <ion-col> </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-evenly">
    <ion-col
      size-xs="12"
      size-sm="8"
      size-lg="6"
      class="ion-padding ion-align-self-center"
    >
      <ion-button expand="block" (click)="submitForm(businessCodeForm.value)"
        >Finalizar</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>
