<ion-header>
  <ion-toolbar>
    <ion-title>Añadir una cita</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-label color="primary"> Cancelar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollY]="false">
  <ion-slides mode="ios" [options]="sliderOptions" class="slider-content">
    <ion-slide>
      <div class="slide">
        <div [style.height.%]="searcherStyle">
          <ion-text class="ion-text-center ion-no-margin ion-no-padding"
            ><h1 style="margin: 10px">Seleccione un cliente</h1></ion-text
          >
          <ion-searchbar
            class="ion-text-left"
            debounce="500"
            placeholder="Nombre Apellido Apellido"
            (ionChange)="search($event)"
          ></ion-searchbar>
        </div>

        <app-customers-list
          class="customers-list"
          [maxHeightPercent]="listStyle"
          [loadedData]="paginationService.data | async"
          [isSearching]="searching"
          [done]="paginationService.done | async"
          [loading]="paginationService.loading | async"
          [searchResult]="search$ | async"
          [isSelectable]="true"
          (onCustomerClicked)="selectedCustomer = $event"
        ></app-customers-list>
        <div [style.height.%]="buttonStyle">
          <ion-button
            [disabled]="!selectedCustomer"
            expand="block"
            color="primary"
            (click)="nextSlide()"
          >
            Siguiente</ion-button
          >
        </div>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div [style.height.%]="searcherStyle">
        <ion-text class="ion-text-center ion-no-margin ion-no-padding"
          ><h1 style="margin: 10px">Seleccione un producto</h1></ion-text
        >
        <ion-searchbar
          class="ion-text-left"
          debounce="500"
          placeholder="Producto"
          (ionChange)="searchProduct($event)"
        ></ion-searchbar>
      </div>

      <app-products-list
        class="customers-list"
        [maxHeightPercent]="listStyle"
        [loadedData]="productsService.data | async"
        [isSearching]="searching"
        [done]="productsService.done | async"
        [loading]="productsService.loading | async"
        [searchResult]="searchProduct$ | async"
        [isSelectable]="true"
        (onProductClicked)="selectedProduct = $event"
      ></app-products-list>
      <div [style.height.%]="buttonStyle">
        <ion-button
          [disabled]="!selectedProduct"
          expand="block"
          color="primary"
          (click)="closeModal()"
        >
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
