<ion-header>
  <ion-toolbar>
    <ion-title>Añadir una cita</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-label color="primary"> Cancelar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollY]="false">
  <ion-slides
    mode="ios"
    pager="ios"
    [options]="sliderOptions"
    class="slider-content"
  >
    <ion-slide>
      <div class="slide">
        <div style="max-height: 17%; height: 17%">
          <ion-text class="ion-text-center"
            ><h1>Seleccione un cliente</h1></ion-text
          >
          <ion-searchbar
            class="ion-text-left"
            debounce="500"
            placeholder="Nombre Apellido Apellido"
            (ionChange)="search($event)"
          ></ion-searchbar>
        </div>
        <app-customers-list
          class="customers-list"
          [maxHeightPercent]="63"
          [loadedData]="paginationService.data | async"
          [isSearching]="searching"
          [done]="paginationService.done | async"
          [loading]="paginationService.loading | async"
          [searchResult]="search$ | async"
          [isSelectable]="true"
          (onCustomerClicked)="selectedCustomer = $event"
        ></app-customers-list>

        <div style="max-height: 20%; height: 20%">
          <ion-button
            [disabled]="!selectedCustomer"
            expand="block"
            color="primary"
            (click)="nextSlide()"
          >
            Siguiente</ion-button
          >
        </div>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div style="max-height: 17%; height: 17%">
        <ion-text class="ion-text-center"
          ><h1>Seleccione un producto</h1></ion-text
        >
        <ion-searchbar
          class="ion-text-left"
          debounce="500"
          placeholder="Producto"
          (ionChange)="searchProduct($event)"
        ></ion-searchbar>
      </div>

      <app-products-list
        class="customers-list"
        [maxHeightPercent]="63"
        [loadedData]="productsService.data | async"
        [isSearching]="searching"
        [done]="productsService.done | async"
        [loading]="productsService.loading | async"
        [searchResult]="searchProduct$ | async"
        [isSelectable]="true"
        (onProductClicked)="selectedProduct = $event"
      ></app-products-list>

      <div style="max-height: 20%; height: 20%">
        <ion-button
          [disabled]="!selectedProduct"
          expand="block"
          color="primary"
          (click)="closeModal()"
        >
          <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
          <ion-label *ngIf="!loading"> Siguiente</ion-label>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
