<ion-item>
  <ion-label style="max-width: 80%;">
    {{ product.name | titlecase }}
    <ion-label class="description"
      >{{ product.description | titlecase }}
    </ion-label>
  </ion-label>
  <span slot="end">{{ product.duration.asMinutes() }}'</span>
  <ion-icon
    *ngIf="!isSelectable; else selectable"
    slot="start"
    color="primary"
    name="information-circle-outline"
    aria-hidden="true"
  ></ion-icon>
  <ng-template #selectable>
    <ion-radio
      aria-label="Select product"
      color="primary"
      data-testid="radio-selector"
      slot="end"
      value="{{ product.id }}"
    ></ion-radio>
  </ng-template>
</ion-item>
