<div id="recaptcha-container"></div>

<ion-grid>
  <ion-row
    class="ion-align-items-center ion-justify-content-evenly ion-text-center"
  >
    <ion-col size="12">
      <h1 class="login-title">¿Cúal es el teléfono de tu negocio?</h1>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-evenly">
    <ion-col
      size-xs="12"
      size-sm="8"
      size-lg="6"
      class="ion-padding ion-align-self-center"
    >
      <form [formGroup]="businessPhoneForm" class="ion-padding">
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <div>
            <ion-input
              #businessPhone
              enterkeyhint="enter"
              [color]="isInputInvalid(phone) ? 'danger' : 'undefined'"
              required
              type="text"
              formControlName="phone"
              autocomplete="tel"
            >
            </ion-input>
          </div>
        </ion-item>
      </form>
    </ion-col>
  </ion-row>

  <ion-row style="height: 300px">
    <ion-col> </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-evenly">
    <ion-col
      size-xs="12"
      size-sm="8"
      size-lg="6"
      class="ion-padding ion-align-self-center"
    >
      <ion-button expand="block" (click)="submitForm(businessPhoneForm.value)"
        >Siguiente</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>
