<div [style.heigth.px]="componentHeight" class="timeline-wrapper">
  <div
    class="segment"
    [style.top.px]="(componentHeight / timeBlocks.length) * i + padding"
    [attr.hour-label]="block.start | date: 'HH:mm'"
    *ngFor="let block of this.timeBlocks; index as i"
  ></div>

  <div class="appointments-wrapper">
    <app-agenda-appointment
      *ngFor="let appointment of appointmentBlocks | async; index as i"
      [dayStartDate]="startDate"
      [appointment]="appointment"
      [dayLengthMinutes]="dayLengthMinutes"
      [parentContainerLengthPx]="componentHeight"
      [parentPadding]="padding"
    >
    </app-agenda-appointment>
  </div>
</div>
