<ion-grid>
  <ion-row
    id="title"
    class="ion-align-items-center ion-justify-content-evenly ion-text-center"
  >
    <ion-col size="12">
      <h1 class="login-title">¿Cómo se llama tu negocio?</h1>
    </ion-col>
  </ion-row>
  <ion-row
    id="content"
    class="ion-align-items-center ion-justify-content-evenly"
  >
    <ion-col
      size-xs="12"
      size-sm="8"
      size-lg="6"
      class="ion-padding ion-align-self-center"
    >
      <form [formGroup]="businessNameForm" class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            #businessName
            enterkeyhint="enter"
            [color]="isInputInvalid(name) ? 'danger' : 'undefined'"
            required
            type="text"
            formControlName="name"
          >
          </ion-input>
        </ion-item>
      </form>
    </ion-col>
  </ion-row>
  <ion-row
    id="button"
    class="ion-align-items-center ion-justify-content-evenly"
  >
    <ion-col
      size-xs="12"
      size-sm="8"
      size-lg="6"
      class="ion-padding ion-align-self-center"
    >
      <ion-button expand="block" (click)="submitForm(businessNameForm.value)"
        >Siguiente</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>
