<ion-content class="bg-modal">
<ion-grid>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-text>
      <h1>Configuración de citación</h1>
    </ion-text>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <ion-segment (ionChange)="segmentChanged($event)" value="dayOfWeek" >
        <ion-segment-button value="dayOfWeek" layout="icon-hide">
          <ion-label>Semanal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="specificDate" layout="icon-hide">
          <ion-label>Fecha específica</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="segmentValue === 'dayOfWeek'" class="ion-justify-content-center">
    <ion-col size="8">
      <ion-label> Día de la semana </ion-label>
      <ion-select value="Monday">
        <ion-select-option value="Monday">Lunes</ion-select-option>
        <ion-select-option value="Tuesday">Martes</ion-select-option>
        <ion-select-option value="Wednesday">Miércoles</ion-select-option>
        <ion-select-option value="Thursday">Jueves</ion-select-option>
        <ion-select-option value="Friday">Viernes</ion-select-option>
        <ion-select-option value="Saturday">Sábado</ion-select-option>
        <ion-select-option value="Sunday">Domingo</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <ion-button expand="block" (click)="addSettingAgendaSetting()">Añadir configuración</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
