<ion-content class="bg-modal" style="height: 20%">
  <ion-grid>
    <ion-row class="ion-margin-start">
      <ion-text style="width: 75%">
        <h3>Configuración de citación</h3>
      </ion-text>
      <div style="width: 25%">
        <ion-button (click)="showAgendaSettingsDataModal()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content class="bg-modal" style="height: 80%;">
  <ion-list class="centered-list">
    <ion-list-header>Configuraciones actuales</ion-list-header>
    <ion-item class="min-width-item ">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item ">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class=" rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class=" rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
    <ion-item class="min-width-item rounded">
      <ion-label> Lunes 10:00-12:00 </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
