.bg-modal {
  --background: #f4f5f8;
}

.rounded {
  border-width: 0;
  border-radius: 12px;
}

.centered-list {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.min-height-item {
  min-height: 60px !important;
}

.flex {
  display: flex;
  align-content: center;
  align-items: center;
}


