<ng-container *ngIf="auth.user$ | async as user">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-label color="primary" (click)="cancel()">Cancelar</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-title>Añadir producto</ion-title>

      <ion-buttons slot="end">
        <ion-button
          [disabled]="!submitEnabled"
          type="submit"
          (click)="submitForm(productForm.value, user.id)"
        >
          <ion-label color="primary">OK</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="bg-list">
      <form [formGroup]="productForm">
        <ion-list inset lines="inset" class="ion-item-round ion-no-margin">
          <ion-item lines="none">
            <ion-input
              #productName
              enterkeyhint="enter"
              [color]="isInputInvalid(name) ? 'danger' : 'undefined'"
              placeholder="Nombre (Obligatorio)"
              (keyup.enter)="goToNext(productDescription)"
              required
              type="text"
              formControlName="name"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              #productDescription
              enterkeyhint="enter"
              required
              placeholder="Descripción (Opcional)"
              [color]="isInputInvalid(description) ? 'danger' : 'undefined'"
              type="text"
              formControlName="description"
              (keyup.enter)="goToNext(productDuration)"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              #productDuration
              placeholder="Duración (Obligatorio)"
              enterkeyhint="enter"
              required
              [color]="isInputInvalid(duration) ? 'danger' : 'undefined'"
              type="number"
              formControlName="duration"
            ></ion-input>
          </ion-item>
        </ion-list>        
      </form>
    </div>
  </ion-content>
</ng-container>
