.login-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  &.register-button{
    margin-top: 18px;
  }
}

.login-window-margin{
  margin-top: 50px;
}

.login-title{
  font-weight: bold;
  font-size: 32px;
  padding: 0 20px;
  margin-top: 12vh;
  margin-bottom: 20px;
}

