<ion-badge slot="end" color="light">
  <ion-icon
          name="checkmark-done-circle"
          color="danger"
          size="small"
  ></ion-icon>
  <ion-icon

          name="checkmark-done-circle"
          color="success"
          size="small"
  ></ion-icon>
  <ion-icon

          name="checkmark-done-circle"
          color="success"
          size="small"
  ></ion-icon>
  <ion-icon

          name="checkmark-done-circle"
          color="danger"
          size="small"
  ></ion-icon>
</ion-badge>