.ion-item-round {
  border-radius: 10px !important;
  margin-top: 0px !important;
}
.bg-list {
  background-color: #f4f5f8;
  padding-top: 16px;
  height: 100%;
}

.error-msg-text{
  font-size: 14px;
}

.no-content-text{
  display: flex !important;
  height: 100% !important;
  align-items: center  !important;
  justify-content: center !important;
}