<div id="confirm-container" *ngIf="isAddingAppointment">
  <ion-text color="medium">
    <p>Selecciona la hora de inicio</p>
  </ion-text>

  <span class="ion-text-start ion-margin-start list-title">
    Hora de inicio
  </span>

  <div class="d-flex ion-justify-content-center ion-align-items-center">
    <ion-icon name="time-outline" slot="start"></ion-icon>
    <ion-datetime
      value=" {{ dateTime }}"
      display-format="HH:mm"
      picker-format="HH:mm"
      minute-values="0, 30"
      (ionChange)="chipSelected($event)"
    ></ion-datetime>
  </div>

  <ion-button
    *ngIf="selectedStartTime"
    (click)="confirmButtonPressed()"
    expand="block"
  >
    <ion-label> Confirmar la cita</ion-label>
  </ion-button>
</div>
