<div id="confirm-container" *ngIf="isAddingAppointment">
  <ion-text color="medium">
    <p>Selecciona la hora de inicio</p>
  </ion-text>

  <ion-grid *ngIf="!selectedStartTime">
    <ion-row>
      <ion-col size="4" *ngFor="let gap of appointmentGaps">
        <ion-chip class="ion-no-margin" (click)="chipSelected($event)">
          {{ gap }}
          <ion-icon name="time-outline"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <span
    *ngIf="selectedStartTime"
    class="ion-text-start ion-margin-start list-title"
  >
    Hora de inicio
  </span>
  <ion-chip
    *ngIf="selectedStartTime"
    class="ion-margin-start"
    (click)="chipDeselection()"
  >
    {{ (dateTime.getHours() < 10 ? '0' : '') + dateTime.getHours() }}:{{
      (dateTime.getMinutes() < 10 ? '0' : '') + dateTime.getMinutes()
    }}
    <ion-icon name="time-outline"></ion-icon>
  </ion-chip>

  <ion-button
    *ngIf="dateTime"
    [disabled]="!selectedStartTime"
    (click)="confirmButtonPressed()"
    expand="block"
  >
    <ion-label> Confirmar la cita</ion-label>
  </ion-button>
</div>
