<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-label color="primary"> Cancelar</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Añadir una agenda</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="!canSaveAgenda || loading"
        (click)="createAgenda()"
      >
        <ion-label color="primary"> Añadir</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-modal">
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <div style="height: 80%;">
          <app-add-agenda-basic-info [form]="form"></app-add-agenda-basic-info>
        </div>
        <div style="height: 20%;" class="vertical-align-content">
          <ion-button
            [disabled]="form.invalid"
            expand="block"
            class="slide-button"
            (click)="nextSlide()"
            >Siguiente</ion-button
          >
        </div>
      </div>
    </ion-slide>
    <ion-slide class="slide bg-modal">
      <div class="slide">
        <div style="height: 80%;">
          <app-add-agenda-config></app-add-agenda-config>
        </div>
        <div style="height: 20%;" class="vertical-align-content">
          <ion-button
            expand="block"
            class="slide-button"
            (click)="previousSlide()"
            >Volver</ion-button
          >
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
