.login-form {
  max-width: 400px;
  width: 50%;
}

.google-button {
  width: 300px;
}

.bg-list{
  background-color: #f4f5f8;
  padding-top: 16px;height: 100%;
}

.ion-item-round {
  border-radius: 10px !important;
  margin-top: 0px !important;
}
